extends ../layout

block content
  .page-header
    h3 Your Video Digests

  ul
    - if (vds)
        - for vd in vds
          li
            a(href="/editor#edit/#{vd.id}")
              = vd.digest.title
    - else
      div you have not created any video digests

  .page-header
    h3 Profile Information

  form.form-horizontal(action='../account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.name}')

  .page-header
    h3 Change Password

  form.form-horizontal(action='../account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-4
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-4
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-keyboard-o
          | Change Password
